<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emil De la Cruz</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-style.css') }}">
    
    <!--

    TemplateMo 556 Catalog-Z

    https://templatemo.com/tm-556-catalog-z

    -->

</head>
<body>
<div id="loader-wrapper">
    <div id="loader"></div>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>

</div>
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <i class="fas fa-film mr-2"></i>

            Emil De la Cruz
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">

                 <li class="nav-item">
                    <a class="nav-link nav-link-3 content" aria-current="page" href="/content">Content</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-2 rate_content" href="/rate_content">PLEASE RATE MY CONTENT!!!</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-3 comments" href="/comments">Comments</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link nav-link-1 home" aria-current="page" href="/">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-4" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>



{% block body %}

{% endblock %}

<footer class="tm-bg-gray pt-5 pb-3 tm-text-gray tm-footer" style="background-color: #1d1c1c;">
    <div class="container-fluid tm-container-small">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-12 px-5 mb-5">
                <h3 class="tm-text-primary mb-4 tm-footer-title">About Emil De la Cruz</h3>
                <p>Obsession with electronic music, especially Techno, is a growing Monster. Starting out as a hip-hop producer
                    right after propellerheads launched REASON 2.0 in the year 2000 he has been able to convert his musical ideas
                    into reality. </p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 px-5 mb-5">
                <h3 class="tm-text-primary mb-4 tm-footer-title">Our Links</h3>
                <ul class="tm-footer-links pl-0">
                    <li><a href="#">Advertise</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Our Company</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 px-5 mb-5">
                <ul class="tm-social-links d-flex justify-content-end pl-0 mb-5">
                    <li class="mb-2"><a href="https://facebook.com"><i class="fab fa-facebook"></i></a></li>
                    <li class="mb-2"><a href="https://twitter.com"><i class="fab fa-twitter"></i></a></li>
                    <li class="mb-2"><a href="https://instagram.com"><i class="fab fa-instagram"></i></a></li>
                    <li class="mb-2"><a href="https://pinterest.com"><i class="fab fa-pinterest"></i></a></li>
                </ul>
                <a href="#" class="tm-text-gray text-right d-block mb-2">Terms of Use</a>
                <a href="#" class="tm-text-gray text-right d-block">Privacy Policy</a>
            </div>
        </div>
        <div class="row">
          
            <div class="col-lg-4 col-md-5 col-12 px-5 text-right">

            </div>
        </div>
    </div>
</footer>

<script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
{#     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">#}
<script>
    $(window).on("load", function () {
        $('body').addClass('loaded');
    });
</script>

  <script>
        current_nav_item = $(".{{ parent_active }}")
        console.log(current_nav_item)
        current_nav_item.addClass("active")

    </script>
<script>
    var current_page = 1;
    var records_per_page = 2;

    var objJson = [
        {adName: "AdName 1"},
        {adName: "AdName 2"},
        {adName: "AdName 3"},
        {adName: "AdName 4"},
        {adName: "AdName 5"},
        {adName: "AdName 6"},
        {adName: "AdName 7"},
        {adName: "AdName 8"},
        {adName: "AdName 9"},
        {adName: "AdName 10"}
    ]; // Can be obtained from another source, such as your objJson variable

    function prevPage() {
        if (current_page > 1) {
            current_page--;
            changePage(current_page);
        }
    }

    function nextPage() {
        if (current_page < numPages()) {
            current_page++;
            changePage(current_page);
        }
    }

    function changePage(page) {
        var btn_next = document.getElementById("btn_next");
        var btn_prev = document.getElementById("btn_prev");
        var listing_table = document.getElementById("listingTable");
        var page_span = document.getElementById("page");

        // Validate page
        if (page < 1) page = 1;
        if (page > numPages()) page = numPages();

        listing_table.innerHTML = "";

        for (var i = (page - 1) * records_per_page; i < (page * records_per_page); i++) {
            listing_table.innerHTML += objJson[i].adName + "<br>";
        }
        page_span.innerHTML = page;

        if (page == 1) {
            btn_prev.style.visibility = "hidden";
        } else {
            btn_prev.style.visibility = "visible";
        }

        if (page == numPages()) {
            btn_next.style.visibility = "hidden";
        } else {
            btn_next.style.visibility = "visible";
        }
    }

    function numPages() {
        return Math.ceil(objJson.length / records_per_page);
    }

    window.onload = function () {
        changePage(1);
    };
</script>


</body>
</html>