<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Emil De la Cruz</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->


  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/remixicon/remixicon.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">

      <h1><a href="index.html">Emil De la Cruz's</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
      <p> Obsession with electronic music, especially Techno, is a growing Monster. Starting out as a hip-hop producer
        right after propellerheads launched REASON 2.0 in the year 2000 he has been able to convert his musical ideas
        into reality. After years of producing hip-hop music for the local artist in Bern (Switzerland) and for himself,
        he was introduced to electronic music by a friend of his, who used to listen to electronic music at this time.
        Even though he wasn’t too familiar with electronic music at this point, he decided to produce a track for his
        friend, and that was the day that turned his musical career around. Since that day, Emil de la Cruz has been
        evolving in the electronic music world, and he continues to improve his skills as an electronic music producer
        day by day. Nowadays, Emil De la Cruz is developing his new passion, which is performing his tracks live. He
        also releases on Soundcloud, Bandcamp, and Spotify. He is also involved in making Techno music tutorials on
        YouTube. To help new upcoming Techno producers, to improve their music production Skills.</p>
      <h2>Register to view the <span>Content</span>
        <h2>

          <nav id="navbar" class="navbar">
            <ul>
              <li><a class="nav-link active" href="/login">Login</a></li>
              <li><a class="nav-link" href="/register">Register</a></li>
              <li><a class="nav-link" href="/content">Content</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav><!-- .navbar -->

          <div class="social-links">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>

    </div>
  </header><!-- End Header -->


  <div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/personal-free-resume-bootstrap-template/ -->
    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
  </div>


</body>

</html>